<app-bar-ctrl-data 
         title="Incidents" 
         menus='["Orphan", "Need Attention", "Need Follow Up", "Need Clean Up", "Recent"]'
         menu-ids='["orphan_i", "need_attention_i", "need_follow_up_i", "need_clean_up_i", "recent_i"]'
         action = "dataChange"
         >
</app-bar-ctrl-data >
<div class="panel warning" data-role="panel">
    <div class="heading">
        <span class="title">Panel Title</span>
    </div>
    <div class="content">
        ... panel content ...
    </div>
</div>